.header{
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botoes{
  padding: 10px 8px;
  width: 20px;
  color: rgb(241, 241, 244);
  background-color: rgb(200, 115, 115);
  border: 1px solid;
  border-radius: 5px;
  text-align: right;
  user-select: none;
  cursor: pointer;
}

.footer{
position: absolute;
 background-color: aqua;
 text-align: center;
 width: 100%;
 bottom: 0px;
 
}

.header-estoque{
padding: 20px;
color: chocolate;
border: 10px solid;
background-color: aqua;
text-align: center;

}
.corpo{
    background-color: rgb(254, 255, 255);
}
.tabela{
    border: 1px solid;
    border-collapse: collapse;
 }
.imagem{
    text-align: center;
    padding-top: 10px;
}

.header-boder{
    background-color: aquamarine;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-texto{
    margin-left: 30px;
}
.menu li{
    display: inline-block;
    margin: 0 10px;

}
.menu li a{
font-size: 20px;
text-decoration: none;
color: rgb(9, 9, 9);
text-transform: uppercase;
}
.menu li a:hover{
    background-color: rgb(174, 156, 156);
}